.Item {
  padding: 25px;
  justify-content: center;
  max-width: 450px;
  margin-bottom: 50px;
}

.Image {
  justify-content: center;
  height: 220px;
  width: auto;
}

.Desc {
  justify-content: center;
}

.Title {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size: 2.7rem;
  margin-top: 30px;
  justify-content: center;
}

.Subtitle {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
}

.Text {
  justify-content: center;
  text-align: left;
  margin-bottom: 30px;
}

.Link {
  color: var(--ifm-color-primary);
}

.Link:hover {
  color: var(--ifm-color-primary-dark);
}

.Link:visited {
  color: var(--ifm-color-primary-darker);
}
