.ContC {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.RowBanner {
  padding-right: 0 !important;
  margin: 0 !important;
  width: 100%;
}

.Banner {
  justify-content: center;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

.Content {
  margin: auto !important;
  justify-content: center;
  max-width: 1000px;
}
