.Left {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 966px) {
  .Left {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
  }

  .Image {
    width: 250px;
  }
}

@media screen and (max-width: 575px) {
  .Image {
    width: 300px;
  }
}

.Row {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.Image {
  max-width: 300px;
}

.Text {
  max-width: 400px;
}
