.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto Slab', serif
}

.h1 {
    font-weight: 900 !important;
    font-size: 3.998rem;
}

.s1 {
    font-size: 1.414rem;
}

.h2 {
    font-weight: 700 !important;
    font-size: 2.827rem;
}

.s2 {
    font-size: 1rem;
}

.h3 {
    font-weight: 500 !important;
    font-size: 1.999rem;
}

.h4 {
    font-weight: 400 !important;
    font-size: 1.414rem;
}



